<div class="game-over">
<span class="game-over-text">GAME OVER</span>
<p>You have created a financial crisis! House prices have plummeted due to a saturated and unstable market and all those lovely investors are in a lot of trouble now the mortgage default rate is so high from lending of sub-prime mortgages to all those unreliable people.</p>
<p>Bad banker!</p>
</div>